* {
  box-sizing: border-box;
}
body{
margin:0;
padding:0;
overflow-x:hidden;
}
.cql{ /* menu tabl*/
position:sticky;
top:0;
background-color:#333;
width:100vw;
}
.cql td{ /*menu otdelni*/

padding-right:2vw;
padding-top:1vw;
padding-bottom:1vw;
text-align:center;
text-transform:uppercase;
color:white;
width:13.2vw;
font-size:1.35vw;
}
.cql a{
text-decoration:none;
color:white;
display:block;
}
.men{ /*menu cqlo stikito*/
position: sticky;
display: block;
top: 0;
padding-right:20vw;
}
.hui{
width:100vw;
padding-left:7.6vw;
padding-right:7.6vw;
text-align:center;
}
.logo{
width:100vw;
background-image: url("hui.png");
background-color:white;
}
.pishonka{
 display: block;
 margin-left: auto;
 margin-right: auto;
width:25vw; 
}
@media only screen and (orientation: portrait) {
td {
display:none;
padding-right:2vw;
padding-top:1vw;
padding-bottom:1vw;
text-align:center;
text-transform:uppercase;
color:white;
width:100%;
font-size:3vw;
height:7.5vh;
}
.td a{
font-size:6vw;
}
.tuk{
padding-right:20vw;
padding-left:20vw;
padding-top:1vw;
padding-bottom:1vw;
text-align:center;
text-transform:uppercase;
color:white;
width:90vw;
font-size:3vw;
display:block;
}
}