p {
    color: rgb(0, 0, 0);
    text-align: left;
    font-family: "Calibri", serif;
    margin-bottom: 0vw;
    font-size:25px;
}
.zaglavie {
    text-align: center;
    font-size:40px;
}
.nomerirani {
    font-size:30px;
}
.bullet {
    font-size:25px;
}
.red {
    font-size:25px;
    color: rgb(256, 0, 0);
}
ul li { /*krugcheta*/
    font-size: 30px;
}

@media only screen and (orientation: portrait) {
    
}
